.aboutCtn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    width: 50%;
    line-height: 1.8;
    margin-top: 80px;
}

.aboutCtn h1 {
    /*filter: drop-shadow(1px 1px 2px #cbd3f3);*/
    padding: 20px;
}

.aboutText {
    z-index: 1;
    color: #08225a;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 5% 10%;
}
      
.aboutText:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
}

.imagesCtn {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.imageCtn {
    display:flex;
    justify-content:center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

img {
    height: 100px;
    width: auto;
    border-radius: 50%;
    padding-right: 15px;
}
