.flightCtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 1% 2%;
    padding: 2%;
    max-width: 1500px;
    min-width: 1000px;

    background-color: white;
    color: black;
    border-radius: 10px;
}

.logoCtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logoCtn img {
    border-radius: 0;
    width: 100%; 
    height: auto;
}

.detailsCtn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    padding-left: 5%;
    flex: 3.5;
    line-height: 1.5;
    font-family: 'Abel', sans-serif;
}

p span {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.durationCtn {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.priceCtn {
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.btnCtn {
    display:flex;
    align-items:center;
    justify-content:center;
}

.btnStar {
    background-color: transparent;
}

.btnStar:hover {
    background-color: transparent;
}

.btnBack {
    background-color: #08225a;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
  }
  
.btnBack:hover {
    background-color: #529eee; 
}

.noFlightsText {
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    color: white;
}

