/*.myFlightsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}*/

/*
h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  margin-bottom: 20px;
}*/

h3 {
  color: white;
}

.flightsSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.pastFlights,
.upcomingFlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 10px;
}

.pastFlights h3,
.upcomingFlights h3 {
  font-family: "Abel", sans-serif;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.flightCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
}

.topCtn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.flightInfo {
  flex: 9;
}

.contentCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-family: "Open Sans", sans-serif;
  padding: 20px 0;
}

.starCtn {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.iconStar {
  background-color: transparent;
}

.iconStar:hover {
  background-color: transparent;
}

.bottomCtn {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.btn {
  margin: 0;
  background-color: #08225a;
  color: white;
  border: none;
  border-radius: 5px;
  width: auto;
  height: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.btn:hover {
  background-color: #529eee;
}

.input {
  background-color: #cce5ec;
  border-radius: 5px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
}

/*
.btnCtn {
    display:flex;
    align-items:center;
    justify-content:center;
}
*/

/*
.flight-detail-button {
  padding: 10px 20px;
  margin-top: 20px;
  font-family: "Abel", sans-serif;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
}

.flight-detail-button:hover {
  background-color: #45a049;
}*/
