* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

/*
font-family: 'Abel', sans-serif;
font-family: 'Big Shoulders Display', sans-serif;
font-family: 'Big Shoulders Stencil Display', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative; /* needed for absolute positioning within*/
}

.mainCtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/cover5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  margin-top: 90px;
  margin-bottom: 60px;
  height: calc(100vh - 170px);
  overflow-y: auto; /* adds scroll if content overflows */
}

.coverImageAbout {
  background-image: url('./images/cover5.jpg');
  background-position: center;
}

.coverImageHome {
  background-image: url('./images/cover3.jpg');
}

.coverImageMyFlights {
  background-image: url('./images/cover1.jpg');
  background-position: center;
}

h1 {
  color: white;
  text-align:center;
  font-size: 1.8rem;
  padding-top: 70px;
}




